<span class='flex flex-col'>
    <span class='place-self-center border-2 border-black corder-solid'>
        <h1>hello!</h1>
        <p>welcome in</p>
        <h1>make sure you sign in!</h1>
        <button type='button' class='bg-blue-300 border-black border-2 border-dashed'><a href='/signup'>Sign
                in!</a></button>
    </span>
    <span class='flex flex-col border-2 border-black mt-10 border-solid'>
        <h1 class='text-center'>Here's what you missed!</h1>
        {{#each posts}}
        <span class='text-center border-black border-2 border-solid my-2'>
            <p>{{user.user_name}}</p>
            <a>{{new_comment}}</a>
        </span>
        {{/each}}
    </span>