<h1>hello {{users.username}}!!</h1>
<div class='border-2 border-black border-solid p-6'>
    <p>whats new?!</p>
    <input id='postTitle' placeholder="title" class='border-2 border-black border-solid'></input>
    <input id='postContent' placeholder="tell me about it!" class='border-2 border-black border-solid'></input>
    <button id='postBtn' class="border-2 border-black border-solid">Tell them all!</button>
</div>


<div class='border-2 border-black border-solid'>
    {{#each posts}}
    <div class='border-2 border-black border-solid p-4 m-8'>
        <a href='/post/{{id}}'>{{title}}</a>
        <button id='deleteBtn' data-id="{{id}}" class='self-end border-black border-2 border-solid'>X</button>
    </div>
    {{/each}}
</div>