<span class='flex flex-col'>
    <span class='place-self-center border-2 border-black corder-solid'>
        <h1>hello!</h1>
        <p>welcome in</p>
    </span>
    <span class='flex flex-col border-2 border-black mt-10 border-solid'>
        <h1 class='text-center'>Here's what you missed!</h1>
        {{#each posts}}
        <div class='text-center border-black border-2 border-solid my-2'>
            <p>{{user.username}}</p>
            <a class='bg-amber-400' href='/post/{{id}}'>{{title}}</a>
            <h3>{{content}}</h3>
        </div>
        {{/each}}
    </span>