<span class='flex flex-row justify-around h-screen'>
    <span id='sign-in-card' class='place-content-center flex flex-col'>
        <h1 class='my-6'>Sign in!</h1>
        <input class='my-6 border-black border-2 border-solid' id='email-login' placeholder="email@internet.com"
            type='email'>
        <input class='my-6 border-black border-2 border-solid' id='password-login' type='password'
            placeholder="Password">
        <button class='my-6 rounded-full border-black border-2 border-solid' id='login-btn'>Sign In!</button>
    </span>
    <span id='sign-up-card ' class='border-blue-800 border-solid border-2 place-content-center flex flex-col'>
        <h1 class='my-2'>Sign up!</h1>
        <input class='my-2 border-black border-2 border-solid' id='new-first-name' placeholder="First Name" type="text">
        <input class='my-2 border-black border-2 border-solid' id='new-last-name' type="text" placeholder="Last Name">
        <input class='my-2 border-black border-2 border-solid' id='new-username' type="text" placeholder="Username">
        <input class='my-2 border-black border-2 border-solid' id='new-email' type="email"
            placeholder="email@internet.com">
        <input class='my-2 border-black border-2 border-solid' id='new-password' type="password" placeholder="Password">
        <button class='my-2 rounded-full border-black border-2 border-solid' id='sign-up-btn'>Sign Up!</button>
    </span>
</span>