<span class='flex flex-row justify-around h-screen'>
    <span id='sign-in-card' class='place-content-center flex flex-col'>
        <h1 class='my-6'>Sign in!</h1>
        <input class='my-6 border-black border-2 border-solid' id='email-sign-in' placeholder="jimm@internet.com"
            type='text'>
        <input class='my-6 border-black border-2 border-solid' id='password-sign-in' type='password'
            placeholder="Password">
        <button class='my-6 rounded-full border-black border-2 border-solid' id='login-btn'>Sign In!</button>
    </span>
    <span id='sign-up-card ' class='border-blue-800 border-solid border-2 place-content-center flex flex-col'>
        <h1 class='my-2'>Sign up!</h1>
        <input class='my-2 border-black border-2 border-solid' id='first_name' placeholder="First Name" type="text">
        <input class='my-2 border-black border-2 border-solid' id='last_name' type="text" placeholder="Last Name">
        <input class='my-2 border-black border-2 border-solid' id='user_name' type="text" placeholder="Username">
        <input class='my-2 border-black border-2 border-solid' id='email' type="email" placeholder="Email">
        <input class='my-2 border-black border-2 border-solid' id='password' type="password" placeholder="Password">
        <button class='my-2 rounded-full border-black border-2 border-solid' id='sign-up-btn'>Sign Up!</button>
    </span>
</span>